<template name="addObservacaoModal">
    <div id="addObservacaoModal" class="modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close btn-close">
              Fechar <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title">Cadastro de Observações</h4>

          </div>
          <div class="modal-body">
            <span class="msg"></span>
            <form class="form-modal" id="formCat">
                <div class="form-group">
                    <label for="nomeObs">NOME: </label>
                    <input type="text" required="required" class="custom-input form-control" id="nomeObs"/>                    
                </div>

                <div class="modal-footer">
                    <button type="submit" id="saveObs" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <button id="bnt-cancel-item" type="button" class="btn btn-danger btn-close">
                        <span class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </div>
            </form>
           </div>

        </div>
      </div>
    </div>
</template>
