<template name='bloqueiarMesaModal'>
    <!-- Model de venda "-->
    <div id="bloqueiarMesaModal" class="modal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal">
                        Fechar <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h4 class="modal-title">Bloqueiar Mesa</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" id="bloqueio" class="btn btn-warning">
                        <span class="glyphicon glyphicon-ban-circle"></span> Bloquear
                    </button>
                    <button id="bnt-cancel-item" type="button" class="btn btn-danger btn-close">
                        <span class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>