<template name='encerraMesaModal'>
    <!-- Model de venda "-->    
    <div id="encerraMesaModal" class="modal" role="dialog">
        <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close btn-close" data-dismiss="modal">
              Fechar <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title">Encerrar de Mesa</h4>
          </div>
    
                <div class="modal-footer">
                    <button type="button" id="reabrir" class="btn btn-primary">
                        <span class="glyphicon glyphicon-retweet"></span> Reabrir
                    </button>
                    <button type="button" id="encerrar" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Encerrar
                    </button>
                </div>

        </div>
      </div>
    </div>
</template>