<template name='incluirProduto'>
        <div class="col-md-12 incluirTemplate">
            <div class="titulo">
                <h4 class="text-center">Incluir Produto</h4>
            </div>
              <form id="incluir" class="font-small" >
                    <span class="msg"></span>
                    <div class="form-group">
                        <div class="col-xs-1 padding-small">
                            <label for="numMesa">MESA: </label>
                            <input type="text" required="required" class="custom-input form-control" id="numMesa"/>
                        </div>
                        <div class="col-xs-1 padding-small">
                            <label for="codGarcom">GARÇOM: </label>
                            <input type="password" required="required" class="custom-input form-control" id="codGarcom"/>
                        </div>
                        <div class="col-xs-1 padding-small">
                            <label for="codProd">CÓD PROD: </label>
                            <input type="text" required="required" class="custom-input form-control" id="codProd"/>
                        </div>
                        <div class="col-xs-3 padding-small">
                            <label for="desProd">DESCRIÇÃO: </label>
                            <input type="text" class="custom-input form-control" id="desProd" disabled="true" />
                        </div>
                        <div class="col-xs-2 padding-small">
                            <label for="qtdProdItem">QTD: </label>
                            <input type="number" required="required" class="custom-input form-control" id="qtdProdItem"/>
                        </div>
                        <div class="col-xs-1 padding-small">
                            <label for="codObs">CÓD OBS.: </label>
                            <input type="number" required="required" class="custom-input form-control" id="codObs"/>
                        </div>
                        <div class="col-xs-2 padding-small">
                            <label for="obser">OBSERVAÇÃO: </label>
                            <input type="text" class="custom-input form-control" id="obser" disabled="true" />
                        </div>
                        <div class="col-xs-1 padding-small">
                            <label for=""></label>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus-sign"></span> Incluir
                            </button>
                        </div>
                    </div>
              </form>
        </div>
</template>