<template name="mapaMesas">
	  <div class="container theme-showcase" role="main">
          <div class="titulo">
                <h3 class="text-center">MAPA DE MESAS </h3>
          </div>
            <!-- Primeiro Coluna -->
            <div class="col-md-6">
                  {{#each geraMapaMesas}}
                    <div class="col-md-2  mesa">
                        <button type="button" class="btn btn-block {{estado}}" name="{{numero}}">
                            <span class="glyphicon {{icon}}"></span> {{numero}}
                        </button>
                    </div>
                  {{/each}}
                  <button type="button" id="btn-transferir-mesa" class="btn btn-warning col-md-12">
                      <span class="glyphicon glyphicon-transfer"></span> Transferir mesa
                  </button>
        </div>
        <!-- Segunda Coluna -->
        <div class="col-md-6">
          {{> historico}}
        </div>

    </div>

</template>


<template name='historico'>
    {{#if hasVendaMesa}}
        <div class="titulo">
            <h4 class="text-center">COMANDA </h4>
        </div>
        <h4 id="textHeader" class="text-center">{{histMesa.textHeader}}</h4>
        <span for="codGarcomHist">CÓD GARÇOM:    </span><label id="codGarcomHist">{{histMesa.codGarcomAtend}}</label>
        <br/>
         <span for="numMesaHist">NÚMERO MESA:    </span><label id="numMesaHist">{{histMesa.numeroMesa}}</label>
         <br/>
         <span for="datVendaHist">DATA:    </span><label id="datVendaHist">{{histMesa.datVenda}}</label>
         <div class="col-md-12">
            {{> deviceRender 'tableHist'}}
            <p id="taxaServico" class="text-center">Taxa de serviço: {{histMesa.taxaServico}}</p>
            <br/>
            <button type="button" id="btn-taxa-servico" class="btn {{corBtn}}">
                <span class="glyphicon {{iconTaxa}}"></span> 10%
            </button>
            <br/>
            <br/>
            <span for="vlrTotalVenda">VALOR TOTAL:    </span><label id="vlrTotalVenda">{{histMesa.vlrTotalVenda}}</label>
            <br/>
            <span for="vlrPorPessoa">QUANT. PESSOAS:    </span><label id="vlrPorPessoa">{{histMesa.qtdPessoas}}</label>
            <br/>
            <span for="vlrPorPessoa">VALOR POR PESSOA:    </span><label id="vlrPorPessoa">{{histMesa.vlrPorPessoa}}</label>
            <br/>
            <br/>
            <span for="horAberMesa">HORA DE ENT.:    </span><label id="
            horAberMesa">{{histMesa.horAberMesa}}</label>
            <br/>
            <span for="temPermanencia">PERMANENCIA:    </span><label id="temPermanencia">{{histMesa.temPermanencia}}</label>
            <br/>
            <br/>
            <h5 id="textFooter" class="text-center">{{histMesa.textFooter}}</h5>
        </div>
    {{/if}}
</template>

<template name='tableHist_desktop'>
    <table class="table font-10">
        <thead>
            <tr>
                <th>Item</th><th>Descrição</th><th>V.Unit.</th><th>Quant.</th><th>V.Total</th>
                </tr>
        </thead>
        <tbody>       
            {{#each Itens}}
                <tr>
                    <td>{{seqItem}}</td><td class="text-nowrap">{{desProd}}</td><td class="text-nowrap">{{preProd}}</td>
                    <td class="text-nowrap">{{qtdProdItem}}</td><td class="text-nowrap">{{vlrTotal}}</td>
                    <td>
                         <button type="button" id="btn-cancelar-item" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-minus"></span> Rem
                        </button>
                    </td>
                    <td>
                        <button type="button" id="btn-transferir-item" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-transfer"></span> item
                        </button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>

<template name='tableHist_phone'>
    <table class="table font-10">
        <thead>
            <tr>
                <th>Item</th><th>Descrição</th><th>Quant.</th>
            </tr>
        </thead>
        <tbody>       
            {{#each Itens}}
                <tr>
                    <td>{{seqItem}}</td><td class="text-nowrap">{{desProd}}</td><td class="text-nowrap">{{qtdProdItem}}</td>
                    <td>
                         <button type="button" id="btn-cancelar-item" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-minus"></span> Rem
                        </button>
                    </td>
                    <td>
                        <button type="button" id="btn-transferir-item" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-transfer"></span> item
                        </button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>