<template name="configuracao">
	<div class="container theme-showcase" role="main">
        <h4 class="text-center">CONFIGURAÇÕES</h4>
	    <form>
	            <!-- Primeiro Coluna -->
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="senhaCancelamento">SENHA PARA CANCELAMENTO DE ITEM: </label>
	                <input type="password" required="required" class="custom-input form-control" id="senhaCancelamento"/>
	            </div>                  
	        </div>
	            
	        <!-- Segunda Coluna -->
	            <div class="col-md-6">

	            </div>
	            <div class="col-md-12">
	                <button type="submit" class="btn btn-success ">
	                    <span class="glyphicon glyphicon-save"></span> SALVAR
	                </button>
	            </div>
	    </form>
    </div>
</template>