<template name="configuracao">
	<div class="container theme-showcase" role="main">
        <h4 class="text-center">CONFIGURAÇÕES</h4>
	    <form id="form-salvar-config-senha-cancel">
	            <!-- Primeiro Coluna -->
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="senha-cancelamento">SENHA PARA CANCELAMENTO DE ITEM: </label>
	                <input type="password" placeholder="3 a 6 caracteres"  required="required" class="custom-input form-control" id="senha-cancelamento"/>	           
	            </div>                  
	        </div>
           
	            <div class="col-md-12">
	                <button  type="submit" class="btn btn-success ">
	                    <span class="glyphicon glyphicon-save"></span> SALVAR
	                </button>
	            </div>
	    </form>

	    <form id="form-salvar-config-comanda">
	            <!-- Primeiro Coluna -->
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="textHeader">TÍTULO COMANDO: </label>
	                <input type="text" required="required" class="custom-input form-control" id="textHeader"/>
	            </div>   
	            <div class="form-group">
	                <label for="textFooter">RODAPÉ COMANDO: </label>
	                <input type="text" required="required" class="custom-input form-control" id="textFooter"/>
	            </div>                  
	        </div>
           
	            <div class="col-md-12">
	                <button  type="submit" class="btn btn-success ">
	                    <span class="glyphicon glyphicon-save"></span> SALVAR
	                </button>	       
	            </div>
	    </form>
    </div>
</template>