<template name="header">
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			    <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      </button>
     				<a class="navbar-brand" href="#">iRest</a>
    			</div>
    			<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a class="active" href="{{pathFor route='home'}}">Home</a></li>
						
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Produtos</a>
							<ul class="dropdown-menu">
								<li><a href="{{pathFor route='addProduto'}}"><span class="glyphicon glyphicon-plus"></span> Adicionar</a></li>
								<li><a href="{{pathFor route='listProduto'}}"><span class="glyphicon glyphicon-list"></span> Listar</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Funcionários</a>
							<ul class="dropdown-menu">
								<li><a href="{{pathFor route='addFuncionario'}}"><span class="glyphicon glyphicon-plus"></span> Adicionar</a></li>
								<li><a href="{{pathFor route='listFuncionarios'}}"><span class="glyphicon glyphicon-list"></span> Listar</a></li>
							</ul>
						</li>
						<li><a href="{{pathFor route='mapaMesas'}}">Vendas</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Relatórios</a>
							<ul class="dropdown-menu">
								<li><a href="#">Vendas</a></li>
								<li><a href="#"> Listar</a></li>
							</ul>
						</li>
						<li><a class="active" href="{{pathFor route='configuracao'}}">Configuração</a></li>

					</ul>

					 <ul class="nav navbar-nav navbar-right">
					 	{{#if currentUser}}
	        				<li><a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
						{{else}}
	        				<li><a href="{{pathFor route='login'}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	        			{{/if}}
	      			</ul>
      			</div>
			</div>	 
		</nav>
			{{#if currentUser}}
				<div class="col-md-12 text-right">
			 		<span id="nameUser">{{user}} </span><span class="glyphicon glyphicon-user"></span>
				</div>
			{{/if}}
	</header>
</template>