body{
	background-color: #EFEFEF;	
}
.container{
	background-color: #FFF;
}
.caixa{

	background-color: #FFFFFC !important;
}
.mesa{
	margin-bottom: 5px;
}
.message-erro{
	display: none;
}
