body{
	background-color: #EFEFEF;	
	font-family: Verdana,Arial,sans-serif;

}
.container{
	background-color: #FFF;
	margin-bottom: 50px;
}
.caixa{

	background-color: #FFFFFC !important;
}
.mesa{
	margin-bottom: 5px;
}
.message-erro{
	display: none;
}
#nomeGarcom{
	color: rgb(255,0,0);
}
#message-success,#message-info,#message-warning,#message-danger{
	display: none;
}
.font-10{
	font-size: 0.87em;
}
.color-white{
	color: #fff !important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.btn-login{
	background-color: #101010;
	color: #fff;
	border-radius: 100px;
}
.btn-login:hover{
	background-color: #47A447;
	color: #fff;	
}
.btn-register{
	background-color: #1366A8;
	color: #fff;
	border-radius: 100px;
}
.btn-register:hover{
	background-color: #101010;
	color: #fff;	
}
.login-or-register{
	width: 330px;
    height: 400px;
}

.bg-color-gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aad1ef+0,356aa0+100 */
	background: #aad1ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #aad1ef 0%, #356aa0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aad1ef), color-stop(100%,#356aa0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aad1ef 0%,#356aa0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aad1ef 0%,#356aa0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aad1ef 0%,#356aa0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aad1ef 0%,#356aa0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad1ef', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */

}
.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}
