body{
	background-color: #EFEFEF;	
	font-family: Verdana,Arial,sans-serif;
}
.container{
	background-color: #FFF;
}
.caixa{

	background-color: #FFFFFC !important;
}
.mesa{
	margin-bottom: 5px;
}
.message-erro{
	display: none;
}
#nomeGarcom{
	color: rgb(255,0,0);
}
#message-success,#message-info,#message-warning,#message-danger{
	display: none;
}
.font-10{
	font-size: 90%;
}