<template name="reimVendas" xmlns="http://www.w3.org/1999/html">
    <div class="container theme-showcase" role="main">
        <div class="titulo">
            <h3 class="text-center">REIMPRESSÃO DE CUPOM</h3>
        </div>
        <form id="reimVendas-form">
            <!-- Primeiro Coluna -->
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label for="data">DATA DA CUPOM: </label>
                    <input type="text" required="required" class="custom-input form-control" id="data"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="numMesa">MESA: </label>
                    <input type="number" class="custom-input form-control" id="numMesa" />
                </div>
                <div class="form-group col-md-3">
                    <label for="codGarcom">CÓD GARÇOM: </label>
                    <input type="text" class="custom-input form-control" id="codGarcom" />
                </div>
                <div class="form-group col-md-3">
                    <br/>
                    <button type="submit" class="btn btn-success ">
                        <span class="glyphicon glyphicon-save"></span> Enviar
                    </button>
                </div>
            </div>
        </form>
    <table class="table">
        <thead>
        <tr>
            <th>Data</th><th>Mesa</th><th>Codigo Garçom</th>
        </tr>
        </thead>
    <tbody>
        {{#each listaVendas}}
                    <tr>
                        <td>{{horAberMesa}}</td><td>{{numeroMesa}}</td><td>{{codGarcomAtend}}</td>
                    </tr>
        {{/each}}
    </tbody>
    </table>
        {{> DynamicTemplate template=getTemplate}}
    </div>
</template>