<template name="listProduto">
		<div class="col-md-12 caixa" >
			<h2 class="text-center">Lista de Produtos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Codigo</th><th>Referencia</th><th>Descricao</th><th>Unidade</th><th>Custo</th><th>Preco</th><th>Margem</th><th>Categoria</th><th>Subcatgoria</th><th>Data Compra</th><th>Ativo</th>
					</tr>
				</thead>
  				<tbody>				
				{{#each listProduto}}
					<tr>
						<td>{{_id}}</td><td>{{refProd}}</td><td>{{desProd}}</td><td>{{undProd}}</td><td>{{cusProd}}</td><td>{{preProd}}</td><td>{{marProd}}</td><td>{{catProd}}</td><td>{{subProd}}</td><td>{{datProd}}</td><td>{{atiProd}}</td>	
						<td><input type="button" class="btn btn-danger" name="btnDesativar" value="Deletar"></td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
</template>
  
   
  