<template name="listFuncionarios">
		<div class="col-md-12 caixa" >
			<h2 class="text-center">Lista de Funcionarios</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Codigo</th><th>Nome</th><th>Função</th><th>Ativo</th>
					</tr>
				</thead>
  				<tbody>				
				{{#each listFuncionarios}}
					<tr>
						<td>{{codFunc}}</td><td>{{nomFunc}}</td><td>{{funcaoFunc}}</td><td>{{atiFunc}}</td>	
						<td><input type="button" class="btn btn-danger" name="btnDesativar" value="Deletar"></td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
</template>
  