<template name="listFuncionarios">
		<div class="col-md-12 caixa" >
			<h2 class="text-center">Lista de Funcionarios</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Codigo</th><th>Nome</th><th>Função</th>
					</tr>
				</thead>
  				<tbody>				
				{{#each listFuncionarios}}
					<tr>
						<td>{{codFunc}}</td><td>{{nomFunc}}</td><td>{{funcaoFunc}}</td>

						<td>
                            <button type="button" id="btnDesativar" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span> Deletar
                            </button>
                        </td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
</template>
  