<template name="modalInfor">

	<div id="message-success" class="alert alert-success">
	  <strong>Sucesso!   </strong><span class="message"></span>
	</div>

	<div id="message-info" class="alert alert-info">
	  <strong>Informação!   </strong> <span class="message"></span>
	</div>

	<div id="message-warning" class="alert alert-warning">
	  <strong>Aviso!   </strong><span class="message"></span>
	</div>

	<div id="message-danger" class="alert alert-danger">
	  <strong>Atenção!   </strong><span class="message"></span>
	</div>

</template>